<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Beta Giulietta Automotive</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" href="css/style.css">
    <!-- other css -->
    <link rel="stylesheet" href="css/other.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
   <!-- awesome fontfamily -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- Tweaks for older IEs-->
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader"><img src="images/loading.gif" alt="" /></div>
   </div>
   <!-- end loader -->

   <div class="wrapper">

      <%- include('header'); %>

         <section>
            <div class="container-fluid">
               <div class="row" style="text-align: center;">
                  <div class="col-md-5">
                     <div class="full slider_cont_section">
                        <h4>ABOUT</h4>
                        <h3>US</h3>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- end header -->
   </div>
   </div>
   </section>
   <!-- end section -->

   <!-- section -->
   <div id="about" class="section layout_padding">
      <div class="container">

         <!-- About Start -->
         <div class="about wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-lg-5 col-md-6">
                     <div class="about-img">
                        <img src="https://tetakawi.com/wp-content/uploads/2020/03/automotive-industry-tetakawi.jpg" width="100%" alt="Image">
                        <br>
                        <br>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcKPhHJ9gQfZSPI8iUhujGpBkg20rbtXMgcg&usqp=CAU" width="100%" alt="Image">
                     </div>
                  </div>
                  <div class="col-lg-7 col-md-6">
                     <div class="section-header text-left">
                        <p>Welcome to Beta Giuletta</p>
                        <h2>Celebrating 50 years of bringing innovation</h2>
                     </div>
                     <div class="about-text">
                        <p>
                           For more than 50 years, we have provided innovative mobility solutions to many countries, companies and
                           people. Improving and moving their lifes, with Sustainability in mind, is our main goal, innovating in one of the most
                           industries world-wide.
                        </p>
                        <p>
                           <br>
                           We design, manufacture, and distribute passenger and commercial vehicles, motorcycles, engines, turbomachinery, and offer related services, including financing, leasing, and fleet management. 
                           <br>
                           <br>
                           We're committed to delivering excellent customer service, providing a top of the line products and services, while delivering long-term value to you, and the world.
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- About End -->

         <br>
         <br>

         <!-- Fact Start -->
         <div class="fact">
            <div class="container-fluid" style="text-align: center;">
               <div class="row counters">
                  <div class="col-md-6 fact-left wow slideInLeft">
                     <div class="row">
                        <div class="col-6">
                           <div class="fact-icon">
                              <i class="flaticon-worker"></i>
                           </div>
                           <div class="fact-text">
                              <h2 data-toggle="counter-up">+70,000</h2>
                              <p>Expert Workers</p>
                           </div>
                        </div>
                        <div class="col-6">
                           <div class="fact-icon">
                              <i class="flaticon-building"></i>
                           </div>
                           <div class="fact-text">
                              <h2 data-toggle="counter-up">+100</h2>
                              <p>Different type of vehicles produced</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 fact-right wow slideInRight">
                     <div class="row">
                        <div class="col-6">
                           <div class="fact-icon">
                              <i class="flaticon-address"></i>
                           </div>
                           <div class="fact-text">
                              <h2 data-toggle="counter-up">+50</h2>
                              <p>Countries where we operate</p>
                           </div>
                        </div>
                        <div class="col-6">
                           <div class="fact-icon">
                              <i class="flaticon-crane"></i>
                           </div>
                           <div class="fact-text">
                              <h2 data-toggle="counter-up">+180</h2>
                              <p>Awards received</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Fact End -->

         <br>
         <br>
         <br>

         <!-- Other info Start -->
         <div class="about wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-lg-12 col-md-12">
                     <div class="col-lg-12 col-md-12">
                        <div class="section-header text-center">
                           <hr>
                           <h2 style="color: #e03d3c;">About Beta Giuletta</h2>
                           <h2>Some of our Key facts and Figures</h2>
                           <br>
                           <caption id="caption1"> <span>As of December 31, 2021 (unless otherwise noted)</span>
                           </caption>

                           <br>
                           <br>
                           <div aria-labelledby="caption2" class="table-responsive" role="group">
                              <table class="table table-hover table-sm">
                                 <thead>
                                    <tr>
                                       <th scope="col">Category</th>
                                       <th scope="col">2021</th>
                                       <th scope="col">2020</th>
                                       <th scope="col">%</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td>Deliveries (thousand vehicles)</td>
                                       <td>5.328</td>
                                       <td>6.278</td>
                                       <td>-15.1</td>
                                    </tr>
                                    <tr>
                                       <td>Sales revenue (€ million)</td>
                                       <td>71.076</td>
                                       <td>89.407</td>
                                       <td>-19.6</td>
                                    </tr>
                                    <tr>
                                       <td>Operating return on sales before special items (%)</td>
                                       <td>0.6</td>
                                       <td>4.3</td>
                                       <td>-3.7 pp</td>
                                    </tr>
                                    <tr>
                                       <td>Net-cash-flow before special items (€ million)</td>
                                       <td>10.131</td>
                                       <td>2.827</td>
                                       <td>358.3</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>

                           <p>Note: Figures may not add to 100% due to rounding.</p>

                           <br>

                        </div>
                     </div>
                  </div>
                  <br>
                  <br>
                  <br>

                  <hr>

                  <div class="col-md-12 text-center">
                     <div class="section-header text-center">
                        
                        <h2 style="color: #e03d3c;">Our Strategy</h2>
                        <br>
                           <p>Beta Giulietta brand aims to move you, and as such the “WE TAKE YOU AS FAST AS LIGHTNING” strategy centers on a global model initiative through which the brand aims to lead innovation, technology and quality in the volume segment.
                           </p>
                           <br>
                           <img src="https://www.trplane.com/wp-content/uploads/2021/03/How-to-nurture-innovation-1392x870.jpg" alt="Innovation" width="40%">
                           <br>
                           <br>
                           <br>
                        <div>

                           <h2 style="color: #e03d3c;">Our commitment</h2>
                           <br>
                           <p>For Beta Giulietta , sustainability means pursuing economic, social and ecological objectives simultaneously and with equal energy. It is our aim to create lasting values, offer good working conditions, and conserve resources and the environment.</p>
                           <br>
                           <img src="https://dobetter.esade.edu/sites/default/files/post/2019-08/sustainable-operations_0.jpg" alt="Sustainable operatinons" width="50%">
                           <br>
                           <br>
                           <br>

                           <h2 style="color: #e03d3c;">Code of Business Conduct and Whistleblower Procedure</h2>
                           <br>
                           <p>With our sustainability concept we want to ensure that opportunities and risks associated with our environmental, social and governance activities are identified as early as possible at every stage of the value creation process. In keeping with this aim, we are determined that our corporate social responsibility (CSR) activities will have a lasting, positive impact on the Company’s value and reputation.
                           </p>
                           <br>
                           <img src="https://rismedia.com/wp-content/uploads/2019/11/give_back_1170502024-1080x627.jpg" alt="CSR" width="50%">
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
         <!-- Other info End -->

      </div>
   </div>
   <!-- end section -->

   <%- include('footer'); %>

      </div>
      </div>

      <div class="overlay"></div>

      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <!-- Scrollbar Js Files -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script type="text/javascript">
         $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
               theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
               $('#sidebar').removeClass('active');
               $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
               $('#sidebar').addClass('active');
               $('.overlay').addClass('active');
               $('.collapse.in').toggleClass('in');
               $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
         });
      </script>

      <script>
         // This example adds a marker to indicate the position of Bondi Beach in Sydney,
         // Australia.
         function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
               zoom: 11,
               center: { lat: 40.645037, lng: -73.880224 },
            });

            var image = 'images/location_point.png';
            var beachMarker = new google.maps.Marker({
               position: { lat: 40.645037, lng: -73.880224 },
               map: map,
               icon: image
            });
         }
      </script>
      <!-- google map js -->
      <script
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
      <!-- end google map js -->

</body>

</html>