      <!-- footer -->
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-12" style="text-align: center;">
               <img src="images/SAILLogo-03.png" width="30%" alt="SAIL">
            </div>
          </div>
          <div class="row">
             <div class="col-md-6">
               <div class="full">
                 <h3>Beta Giulietta</h3>
               </div>
             </div>
             <div class="col-md-6">
               <div class="full">
                  <ul class="social_links">
                     <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                     <li><a href=""><i class="fa fa-twitter"></i></a></li>
                     <li><a href="https://www.instagram.com/thesapacademy"><i class="fa fa-instagram"></i></a></li>
                  </ul>
               </div>
             </div>
             <div class="col-md-4">
                <div class="full">
                   <h4 class="widget_heading">SUBSCRIBE</h4>
                </div>
                <div class="full subribe_form">
                   <form>
                     <fieldset>
                        <div class="field">
                          <input type="email" name="mail" placeholder="Enter your email" />
                        </div>
                        <div class="field">
                          <button class="submit_bt" onclick="alert('Thanks for subscribing! You should start receiving our communications now')">Sumbit</button>
                        </div>
                     </fieldset>
                   </form>
                </div>
             </div>
             <div class="col-md-4">
                <div class="full">
                  <h4 class="widget_heading">Usefull Links</h4>
                </div>
                <div class="full f_menu">
                   <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/contact">Contact</a></li>
                      <li><a href="/news">News</a></li>
                      <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Let's Dance</a></li>
                   </ul>
                </div>
             </div>
             <div class="col-md-4">
                <div class="full">
                  <h4 class="widget_heading">Contact Details</h4>
                  <div class="full cont_footer">
                    <p><strong>Beta Giulietta Car : Address</strong><br><br>Frankfurt, Germany<br>Phone: +1 (925) 477-7143<br>contact@bgautomotive.com</p>
                  </div>
                </div>
             </div>
          </div>
        </div>
     </footer>
     <!-- end footer -->

     <!-- copyright -->

     <div class="cpy_right">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                 </div>
             </div>
         </div>
     </div>

     <!-- right copyright -->
