<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Beta Giulietta Automotive</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- awesome fontfamily -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Tweaks for older IEs-->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="" /></div>
      </div>
      <!-- end loader -->
   
   <div class="wrapper">

      <%- include('header'); %>

      <section>
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-5">
                  <div class="full slider_cont_section">
                     <h4>BETA GIULIETTA</h4>
                     <h3>IN THE NEWS</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end header -->
            </div>
         </div>
      </section>
      <!-- end section -->
      
      <!-- full Title -->
			<div class="full-title">
				<div class="container">

               <br>
					<div class="breadcrumb-main">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/">Home</a>
							</li>
							<li class="breadcrumb-item active"> Beta Giuletta's new CTO </li>
						</ol>
					</div>
				</div>
			</div>

			<div class="blog-main">
				<div class="container">
					<div class="row">
						<!-- Post Content Column -->
						<div class="col-lg-8">
							<!-- Preview Image -->
							<img class="img-fluid rounded" src="images/David_DuClaud.jpg" alt="" />
							<hr>
							<!-- Date/Time -->
							<p>Posted on April 1st, 2022 at 18:00 PM</p>
							<hr>
							<!-- Post Content -->
							<h2 class="lead">Beta Giuletta announced a series of leadership changes today, including tapping
								14-year industry veteranDavid Duclaud as its new chief transformation officer. </h2>
                     <br>
							<p>David, who also assumes the title of executive vice president, has held a number of IT
								and transformation roles in the industry since 2009, most recently serving as senior
								vice president of digital business transformation for MJ Automotive.</p>
                     <br>
							<p>As CTO, David will be responsible for supporting strategic objectives of Growth and
								Market Share, Shareholders and Market Capitalization, Sustainability, and strategic
								longevity, while supporting the following Lines of business with the following business
								objectives:</p>
                     
                        <br>
							<ul type="disc" style="text-align: center;">
								<li style="font-family: Helvetica; font-weight: bold;"><strong>Head of Customer
										Experience &ndash; Conversion rate and Sales Growth</strong></li>
								<li style="font-family: Helvetica; font-weight: bold;"><strong>Head of R&D
										&ndash; New Products, services and Revenue Streams &nbsp;</strong></li>
								<li style="font-family: Helvetica; font-weight: bold;"><strong>Head of Procurement
										&ndash; Margin, Quality, and Supplier Performance</strong></li>
								<li style="font-family: Helvetica; font-weight: bold;"><strong>Head of Operations
										&ndash; Business Performance and Innovation</strong></li>
								<li style="font-family: Helvetica; font-weight: bold;"><strong>Head of Human Capital
										&ndash; Core Activities and Experiential Hiring  </strong></li>
							</ul>

							<blockquote class="blockquote">
								<p class="mb-0">The changes we’re announcing create new opportunities for key leaders to bring their knowledge and experiences to different areas of the business, I’m confident these moves will drive Beta Giuletta’s position as a best-in-class consulting company today and well into the future.</p>
								<br>
								<footer class="blockquote-footer" style="color: white; text-align: center;">Yasmine Lange
                           <br>
									<cite title="Source Title">Beta Giuletta's CEO</cite>
								</footer>
							</blockquote>

							<hr>
							<div class="blog-right-side">
								<!-- Comments Form -->
								<div class="card my-4">
									<h5 class="card-header">Leave a Comment:</h5>
									<div class="card-body">
										<form>
											<div class="form-group">
												<textarea class="form-control" rows="3"></textarea>
											</div>
											<button type="submit" class="btn btn-primary" onclick="alert('Your comment will be added after approval. Thanks for contributing to the community!')">Submit</button>
										</form>
									</div>
								</div>
							</div>
							<br>
							<!-- Single Comment -->
							<div class="media mb-4">
								<img class="d-flex mr-3 rounded-circle" src="https://www.pngitem.com/pimgs/m/75-758282_walter-circle-person-photo-in-circle-hd-png.png" alt="" width="12%">
								<div class="media-body">
									<h5 class="mt-0">Jerry Rice</h5>
									This must be the smartest thing that Beta Giuletta has done in the past 10 years.
								</div>
							</div>
							<br>
							<!-- Comment with nested comments -->
							<div class="media mb-4">
								<img class="d-flex mr-3 rounded-circle" src="https://www.pngkit.com/png/full/639-6399637_henry-circle-gentleman.png" alt="" width="10%">
								<div class="media-body">
									<h5 class="mt-0">Steve Young</h5>
									I cannot believe how well the market reacted to this news. Let's just hope thatDavid will bring more innovation into Beta Giuletta
									<br>
									<br>
									<div class="media mt-4">
										<img class="d-flex mr-3 rounded-circle" src="https://www.pngitem.com/pimgs/m/75-758282_walter-circle-person-photo-in-circle-hd-png.png" alt="" width="12%">
										<div class="media-body">
											<h5 class="mt-0">Jerry Rice</h5>
											I cannot agree more. 12% raise in just one day! A lot of pressure into this decision.
										</div>
									</div>
								</div>
							</div>
							<br>
							<!-- Single Comment -->
							<div class="media mb-4">
								<img class="d-flex mr-3 rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Clinton_Circle.png" alt="" width="10%">
								<div class="media-body">
									<h5 class="mt-0">Jenny Garopolo</h5>
									@Beta Giuletta, What you planning to make Beta Giuletta and its customers more sustainable?
								</div>
							</div>

						</div>

						<!-- Sidebar Widgets Column -->
						<div class="col-md-4 blog-right-side">

							<!-- Search Widget -->
							<div class="card mb-4">
								<h5 class="card-header">Search</h5>
								<div class="card-body">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Search for...">
										<span class="input-group-btn">
											<button class="btn btn-secondary" type="button" onclick="alert('The system is currently under maintenance. Try searching later. :(')">Go!</button>
										</span>
									</div>
								</div>
							</div>

							<!-- Side Widget -->
							<div class="card my-4">
								<h5 class="card-header">Beta Giuletta's Stock Rockets</h5>
								<div class="card-body">
									After new CTO annoucement, Beta Giuletta's stock raised 12%, reaching a new all time high.
									The market view this change as a positive move for Beta Giuletta towards 2022-2023 goals
									and expectations.
								</div>
							</div>

						</div>

					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
      <br>
      <br>
      <br>

      <%- include('footer'); %>

   </div>
</div>

   <div class="overlay"></div>
      
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <!-- Scrollbar Js Files -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>

   </body>
</html>